<header class="uk-margin-medium-bottom">

    <div>
      <div class="uk-container uk-text-center">
        <div class="uk-section uk-section-xsmall">
          <a class="uk-logo uk-margin-small-top uk-display-inline-block" href="{{ "/" | relURL }}">
            {{ if .Site.Params.logo.dark }}
              <img src="{{ .Site.Params.uploads | absURL }}{{ .Site.Params.logo.dark }}" alt="{{ .Site.Params.Title }}">
            {{ else }}
              {{ .Site.Params.Title }}
            {{ end }}
          </a>
        </div>
      </div>
    </div>
  
    {{ if .Site.Params.Navbar.Primary.Sticky }}
      <div data-uk-sticky="animation: uk-animation-slide-top; top: 200; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-box-shadow-small;">
        <nav class="uk-navbar-container">
          {{ partial "navbar-primary" . }}
        </nav>
      </div>
    {{ else }}
      <nav class="uk-navbar-container">
        {{ partial "navbar-primary" . }}
      </nav>
    {{ end }}
    
  </header>
  