<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Params.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Params.Title }}{{ end }}</title>
    <meta name="generator" content="Hugo" />
    <meta property="og:title" content="{{ .Site.Params.Title }}" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ .Site.Params.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.Title }}" />
    <link rel="canonical" href="http://localhost:4000/" />
    <meta property="og:url" content="http://localhost:4000/" />
    <meta property="og:site_name" content="{{ .Site.Params.Title }}" />
    <script type="application/ld+json">
    {"@type":"WebSite","url":"http://localhost:4000/","headline":"","name":"","description":"","@context":"https://schema.org"}</script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700%7CZCOOL+XiaoWei" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relURL }}">
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Params.Title | safeHTML }}" href="{{ "/feed.xml" | relURL }}">
    <script src="{{ "/assets/js/main.min.js" | relURL }}"></script>
  </head>
  