
<div><hr class="uk-margin-remove"></div>
<div class="uk-container">
    <div data-uk-navbar>
        <div class="uk-navbar-left">
            {{ if .Site.Params.Navbar.Primary.Search }}
            <div>
                <a class="uk-navbar-toggle" data-uk-search-icon="ratio: 0.9" href="#"></a>
                <div class="uk-drop uk-background-default" data-uk-drop="mode: click; pos: left-center; offset: 0">
                    <form class="uk-search uk-search-navbar uk-width-1-1" onsubmit="return false;">
                        <input id="search-input" class="uk-search-input" type="search" placeholder="Search..." autofocus>
                        <ul id="search-results" class="uk-position-absolute uk-width-1-1 uk-list uk-box-shadow-medium"></ul>
                    </form>
                </div>
            </div>
            <script>
                SimpleJekyllSearch({
                searchInput: document.getElementById('search-input'),
                resultsContainer: document.getElementById('search-results'),
                noResultsText: '<li>No results found</li>',
                searchResultTemplate: '<li><a href="{url}">{title}</a></li>',
                limit: 100,
                json: '/search.json'
                });
            </script>
            {{ end }}
  

            <ul class="uk-navbar-nav uk-visible@m">
                {{ range $i, $link := .Site.Params.Navbar.Primary.Left }}
                    {{ if in $link.url "http" }}
                        {{ $domain := "" }}
                    {{ else }}
                        {{ $domain := relURL }}
                    {{ end }}
                    {{ if eq $link.url .Page.RelPermalink }}
                        {{ $current := " class=\"uk-active\"" }}
                    {{ else }}
                        {{ $current := nil }}
                    {{ end }}
                    {{ if $link.title }}
                        <li>
                            {{ if $link.url }}
                            <a href="{{ .domain }}{{ $link.url }}" {{ if in $link.url "http" }}target="_blank" {{ end }}>{{ $link.title }}</a>
                            {{ else }}
                            <a href="#">{{ $link.title }}</a>
                            {{ end }}
                            {{ if ne $link.dropdown nil }}
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{ range $i, $child := $link.dropdown }}
                                    {{ if ne $child.url nil }}
                                        {{ if in $child.url "http" }}
                                            {{ $domain := "" }}
                                        {{ else }}
                                            {{ $domain := relURL }}
                                        {{ end }}
                                        {{ if eq $child.url .Page.RelPermalink }}
                                            {{ $current := " class=\"uk-active\"" }}
                                        {{ else }}
                                            {{ $current := nil }}
                                        {{ end }}
                                        <li><a href="{{ .domain }}{{ $child.url }}">{{ $child.title }}</a></li>
                                    {{ else }}
                                        <li class="uk-nav-header">{{ $child.title }}</li>
                                    {{ end }}
                                    {{ end }}
                                </ul>
                            </div>
                            {{ end }}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>

        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav uk-visible@m">
                {{ range $i, $link := .Site.Params.Navbar.Primary.center }}
                    {{ if in $link.url "http" }}
                        {{ $domain := "" }}
                    {{ else }}
                        {{ $domain := relURL }}
                    {{ end }}
                    {{ if eq $link.url .Page.RelPermalink }}
                        {{ $current := " class=\"uk-active\"" }}
                    {{ else }}
                        {{ $current := nil }}
                    {{ end }}
                    {{ if $link.title }}
                        <li>
                          {{ if $link.url }}
                            <a href="{{ .domain }}{{ $link.url }}" {{ if in $link.url "http" }}target="_blank" {{ end }}>{{ $link.title }}</a>
                          {{ else }}
                            <a href="#">{{ $link.title }}</a>
                          {{ end }}
                          {{ if ne $link.dropdown nil }}
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                  {{ range $i, $child := $link.dropdown }}
                                    {{ if ne $child.url nil }}
                                      {{ if in $child.url "http" }}
                                          {{ $domain := "" }}
                                      {{ else }}
                                          {{ $domain := relURL }}
                                      {{ end }}
                                      {{ if eq $child.url .Page.RelPermalink }}
                                          {{ $current := " class=\"uk-active\"" }}
                                      {{ else }}
                                          {{ $current := nil }}
                                      {{ end }}
                                      <li><a href="{{ .domain }}{{ $child.url }}">{{ $child.title }}</a></li>
                                    {{ else }}
                                      <li class="uk-nav-header">{{ $child.title }}</li>
                                    {{ end }}
                                  {{ end }}
                                </ul>
                            </div>
                          {{ end }}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@m">
                {{ range $i, $link := .Site.Params.Navbar.Primary.right }}
                    {{ if in $link.url "http" }}
                        {{ $domain := "" }}
                    {{ else }}
                        {{ $domain := relURL }}
                    {{ end }}
                    {{ if eq $link.url .Page.RelPermalink }}
                        {{ $current := " class=\"uk-active\"" }}
                    {{ else }}
                        {{ $current := nil }}
                    {{ end }}
                    {{ if $link.title }}
                        <li>
                          {{ if $link.url }}
                            <a href="{{ .domain }}{{ $link.url }}" {{ if in $link.url "http" }}target="_blank" {{ end }}>{{ $link.title }}</a>
                          {{ else }}
                            <a href="#">{{ $link.title }}</a>
                          {{ end }}
                          {{ if ne $link.dropdown nil }}
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                  {{ range $i, $child := $link.dropdown }}
                                    {{ if ne $child.url nil }}
                                      {{ if in $child.url "http" }}
                                          {{ $domain := "" }}
                                      {{ else }}
                                          {{ $domain := relURL }}
                                      {{ end }}
                                      {{ if eq $child.url .Page.RelPermalink }}
                                          {{ $current = " class=\"uk-active\"" }}
                                      {{ else }}
                                          {{ $current := nil }}
                                      {{ end }}
                                      <li><a href="{{ .domain }}{{ $child.url }}">{{ $child.title }}</a></li>
                                    {{ else }}
                                      <li class="uk-nav-header">{{ $child.title }}</li>
                                    {{ end }}
                                  {{ end }}
                                </ul>
                            </div>
                          {{ end }}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>

            <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-right@m uk-visible@m social uk-margin-left">
              {{ partial "social-networks" . }}
            </div>

            {{ if .Site.Params.Donations.Paypal.Navbar }}
              <div class="uk-navbar-item">
                  {{ partial "donations-paypal" . }}
              </div>
            {{ end }}

            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-navbar-toggle-icon data-uk-toggle></a>

        </div>

    </div>
    
</div>
<div class="uk-margin-remove"><hr></div>